#moduletplTableContent_filter input[type=search] {
    width: 250%;
    margin-left: 8%;
}
#moduletplTableContent_wrapper .dataTables_length label{
    font-weight: 800;
}
#moduletplTableContent_wrapper #moduletplTableContent_filter label{
    font-weight: 800;
}
#filtertableTableContent_wrapper label{
    font-weight: 800;
}
#moduletplTableContent_processing {
    position: absolute;
    top: 5em;
    left: 50%;
    margin-left: -50px;
}
#DRAGABLESTYLE

#TCCCOLUMNSHOWHIDECSS